<section class="container mt-3">
    <form #trabajosForm="ngForm" (ngSubmit)="getDataForm(trabajosForm.value)">
      <div class="my-2">
        <label for="titulo" class="form-label">Titulo del servicio</label>
        <input type="text" class="form-control" placeholder="Introduce un titulo" id="titulo" name="titulo" ngModel>
      </div>
      <div class="my-2">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" placeholder="Introduce descripción" id="descripcion" name="descripcion"
          ngModel>
      </div>
      <div class="my-2">
        <label for="url" class="form-label">Slug</label>
        <input type="text" class="form-control" placeholder="Introduce un url" id="url" name="url" ngModel>
      </div>
      <div class="my-2">
        <input type="submit" value="Enviar" class="btn btn-danger">
      </div>
    </form>
  </section>
